<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Signup</h2>
      <br>
      <form [formGroup]="myForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email </label>
          <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  [class.is-valid]="isFieldValid('email')"
                  [class.is-invalid]="isFieldInvalid('email')"
          >
        </div>

        <div class="form-group">
          <label for="name">Username </label>
          <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  [class.is-valid]="isFieldValid('name')"
                  [class.is-invalid]="isFieldInvalid('name')"
          >
        </div>

        <div class="form-group">
          <label for="password">Password </label>
          <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  [class.is-valid]="isFieldValid('password')"
                  [class.is-invalid]="isFieldInvalid('password')"
          >
        </div>

        <div class="form-group">
          <button class="btn btn-danger">Submit</button>
        </div>
      </form>
    <pre>{{ formData | json }}</pre>
    </div>
  </div>
</div>
